.body{
	margin: 0;
	font-family: calibri;("backdrop.jpg");
}
h1{
	font-style: italic;
	font-size: 100px;
	text-align: center;
}
h2{
	text-align: center;
	font-style: italic;
	font: underline;
}
h4{
	text-align: center;
	font-style: italic;
}
h5{
	text-align: center;
}
p{
	text-align: center;
	font-style: italic;
}
.Tabs{
	font-size: 50px;
	text-align: center;
}
row{
	text-align: center;
}
table{
	text-align: center;
	background: white;
}
button{
	text-align: center;
}
	
