@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap');

/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Font Assignments */
body {
    font-family: 'Roboto', sans-serif; /* Main body font */
    background-color: #e7e7e7;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif; /* Headings font */
    color: #333;
}

button, .nav-link {
    font-family: 'Montserrat', sans-serif; /* Buttons and navigation links font */
}

/* General Styles */
button {
    background: white;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #18181b;
    transition: color 0.2s, background-color 0.2s;
}

button:hover {
    background-color: #18181b;
    color: white;
}

#navbar, #footer {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

/* High Contrast Mode - Ensures all text is white */
.high-contrast, .high-contrast * {
    background-color: #000; /* Background color for high contrast */
    color: #fff !important; /* White text for high visibility */
}



/* Carousel Styles */
#carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 20px;
    margin-bottom: 80vh;
}

#carousel {
    width: 1000px;
    display: flex;
    position: relative;
}

.slide {
    width: 100%;
    position: absolute;
    transition: transform 0.5s ease;
}

.slide img {
    width: 100%;
    height: auto;  /* Maintain aspect ratio */
    border-radius: 40px;
}

.slide-caption {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: white;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Improve visibility of text over images */
    font-family: 'Merriweather', serif;
}

